body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 500px;
}
.middle.aligned {
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.masthead {
  margin-top: 10px !important;
}
.ui .step {
  max-width: 145px !important;
  max-height: 70px;
}
.steps {
  margin-bottom: 0px;
}
