<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form class="ui large form">
      <div class="ui stacked segment inverted">
        <h2 class="ui image header" style="color: white; margin-bottom: 0px;">
          <i class="icon user secret"></i>
          <div class="content">Sign-Up for your account</div>
        </h2>
        <div class="ui divider"></div>
        <div class="field">
          <div
            class="ui left icon input"
            [ngClass]="errors.length !== 0 ? 'error' : ''"
          >
            <i class="user icon"></i>
            <input
              [(ngModel)]="user.email"
              type="text"
              name="email"
              placeholder="E-mail address"
            />
          </div>
        </div>
        <div class="field" style="margin-top: 2rem;">
          <div
            class="ui left icon input"
            [ngClass]="errors.length !== 0 ? 'error' : ''"
          >
            <i class="lock icon"></i>
            <input
              [(ngModel)]="user.password"
              (ngModelChange)="analyze(user.password)"
              type="password"
              name="password"
              placeholder="Password"
            />
          </div>
        </div>
        <div class="field">
          <div
            class="ui left icon input"
            [ngClass]="errors.length !== 0 ? 'error' : ''"
          >
            <i class="lock icon"></i>
            <input
              [(ngModel)]="user.confirmPassword"
              (ngModelChange)="analyze(user.confirmPassword)"
              type="password"
              name="confirmPassword"
              placeholder="Confirm Password"
            />
          </div>
        </div>
        <sui-progress
          class="tiny indicating active"
          [value]="passwordStrength.percent"
          [showProgress]="false"
        ></sui-progress>
        <!-- <div class="ui fluid large teal submit button">Login</div> -->
        <button
          class="ui fluid large primary submit button"
          (click)="onSignup()"
        >
          Sign-Up
        </button>
      </div>
    </form>

    <div *ngIf="errors.length !== 0" class="ui error message">
      <ul class="list" *ngFor="let error of errors">
        <li>{{ error }}</li>
      </ul>
    </div>

    <div class="ui message inverted">
      Already have an account? <a href="#">Log In</a>
    </div>
  </div>
</div>
