.row {
  margin: 0rem 1rem 0rem 1rem;
}

.box {
  border: 1px solid white;
  height: 100vh;
}

.column {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.column:first-child {
  border: 0.5em solid#1b1c1d;
  border-top-width: 0px;
  border-radius: .28571429rem;
}
