<div class="ui list">
  <sui-dimmer [(isDimmed)]="shouldDim" [isClickable]="false">
    <div class="ui text loader">We are loading the fun!</div>
  </sui-dimmer>
  <a class="item ui grid" *ngFor="let message of messages" (click)="onSelectMessage(message)">
    <div class="row">
      <div class="three wide column">
        <img class="ui avatar image tiny" src={{message.from.imagePath}} />
      </div>
      <div class="thirteen wide column">
        <p class="ui">{{message.from.last}},
          {{message.from.first}}</p>
        <h3 class="ui blue dividing header" style="margin-bottom: 0px;"> {{message.subject}}</h3>
        <p class="description">{{message.body.substring(0, 150)}}{{message.body.length > 150 ? '...' : ''}}</p>
      </div>
    </div>
  </a>
</div>
